[submodule "js-testing/e2e-realworld-testing/react-redux-realworld-example-app"]
	path = js-testing/e2e-realworld-testing/react-redux-realworld-example-app
	url = https://github.com/saaamadhi/training-itechArt.git
