.video-block {
  display: flex;
  width: 100%;
  max-width: 658px;
  margin-bottom: 20px;
  height: auto;
}

.caption-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 340px;
  box-sizing: border-box;
  padding: 11px 14px;
  background: #ec9e03;
}

.desc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.desc-container__caption {
  padding: 12px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 29px;
  color: #ffffff;
  font-weight: lighter;
  line-height: 1.2;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.add-btn {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.add-btn__icon {
  width: 11px;
  height: 11px;
  fill-rule: evenodd;
  fill: #ffffff;
  opacity: 0.702;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.video-play-btn-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
}

.pause-btn {
  position: absolute;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.pause-btn__pause-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pause-icon-container__icon-circle {
  width: 61px;
  height: 61px;
  fill-rule: evenodd;
  fill: #f5c506;
  opacity: 0.722;
}

.pause-icon-container__icon-play {
  position: absolute;
  top: 15px;
  left: 24px;
  width: 18px;
  height: 32px;
  fill-rule: evenodd;
  fill: #f5f4f2;
}
