@import "./block-w-video.css";
@import "./twitter.css";

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 43px 0;
  width: 100%;
  min-height: 506px;
  height: auto;
  background: center / cover no-repeat
    url(../../images/section-features/background.png);
}

.features__title {
  font-size: 37px;
  width: 80%;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  min-height: 233px;
}
