.item-twitter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 8px;
  background: #ec9e03;
  width: 330px;
  margin-bottom: 20px;
}

.twits-amount-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 11px;
}

.twits-amount-container__twits-amount {
  padding-right: 12px;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.twitter-icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.twitter-icon-container__twitter-icon {
  width: 163px;
  height: 133px;
  fill-rule: evenodd;
  fill: #bc7d00;
  opacity: 0.902;
}

.add-twit-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 11px;
}

.add-twit-btn {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.add-twit-btn__icon {
  width: 11px;
  height: 11px;
  fill-rule: evenodd;
  fill: #ffffff;
  opacity: 0.702;
}
