.logo-icon-container {
  position: relative;
}

.logo-icon-container__back-icon {
  position: absolute;
  top: 1.6%;
  left: 2.4%;
  width: 52px;
  height: 52px;
  fill-rule: evenodd;
  fill: #f5c506;
  opacity: 0.502;
}

.logo-icon-container__front-icon {
  width: 54px;
  height: 54px;
  fill-rule: evenodd;
  fill: #f5c506;
}

.footer__logo-title {
  font-size: 29px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #ffffff;
  text-shadow: 0 2px 0 #2c2c2c;
}
