.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__title {
    text-transform: capitalize;
}

.logo__icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}