.search {
    display: flex;
    justify-content: center;
    width: 50%;
    background: #eee;
    border-radius: 20px;
}

.search__input {
    width: 90%;
    padding: 10px;
    background: transparent;
    outline: none;
    border: 1px solid #eee;
    border-radius: 20px;
}

.search__btn {
    width: 10%;
    padding: 10px;
    background: center / 15px url(../img/search-loupe.png) no-repeat,#f5f3f2;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search__img {
    width: 15px;
    height: 15px;
}