.video-list__item{
    border-radius: 40px;
    background: #e8e4e3;
    margin-bottom: 16px;
}

.item__container {
    display: flex;
    padding: 10px 30px;
}

.container__titles {
    margin-left: 10px;
}

.item__desc {
    padding: 0 30px 10px;
    margin: 0;
}

.item__desc-title {
    padding: 0 30px;
    margin: 0;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
}

.channel-title {
    font-size: 14px;
    font-weight: bold;
}