.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 385px;
  height: 213px;
}

.benefit-item {
  display: flex;
}

.benefit-item__marker {
  height: 13px;
  min-width: 13px;
  background: #f5c506;
  border-radius: 50%;
  margin-top: 9px;
  margin-right: 30px;
}

.benefit-item__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 1.3;
  color: #a9a9a7;
}
