body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1450px;
  width: 100%;
  overflow: hidden;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 566px;
  width: 100%;
  padding: 28px 0 0;
  box-sizing: border-box;
  background: center / cover no-repeat url(../../images/banner/background.png);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}
