.header__logo-container {
  display: flex;
  align-items: center;
}

.header__text-container {
  display: flex;
  align-items: baseline;
}

.header__logo-name {
  font-size: 41px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: #ffffff;
}

.header__logo-text {
  font-size: 13px;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.header__icon-container--desktop {
  position: relative;
  margin-right: 5px;
}

.header__icon-container--mobile {
  display: none;
  position: relative;
  margin-right: 5px;
}

.header__icon--front-icon {
  width: 83px;
  height: 83px;
  fill: #f5c506;
  fill-rule: evenodd;
}

.header__icon--front-icon-mobile {
  width: 40px;
  height: 39px;
  fill: #f5c506;
  fill-rule: evenodd;
}

.header__icon--back-icon {
  position: absolute;
  top: 1.6%;
  left: 2.4%;
  width: 78px;
  height: 78px;
  fill: #f5c506;
  opacity: 0.502;
  fill-rule: evenodd;
}

.header__icon--back-icon-mobile {
  position: absolute;
  top: 1.6%;
  left: 2.4%;
  width: 38px;
  height: 38px;
  fill: #f5c506;
  opacity: 0.502;
  fill-rule: evenodd;
}
