.header__nav {
  padding: 0 10px 0 15px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "Asap", sans-serif;
  background: #f5c506;
  box-shadow: -4px -4px rgba(245, 197, 6, 0.251),
    -8px -8px rgba(245, 197, 6, 0.125);
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #9b7d08;
  height: 100%;
}

.nav__link-icon {
  padding: 0 5px;
}

.nav__link--bordered {
  border-right: 1px solid #9b7d08;
  border-left: 1px solid #9b7d08;
}

.nav__link--person-icon {
  width: 21px;
  height: 19px;
  fill: #b99403;
  fill-rule: evenodd;
}

.nav__link--services-icon {
  width: 19px;
  height: 19px;
  fill: #b99403;
  fill-rule: evenodd;
}

.nav__link--contact-icon {
  width: 24px;
  height: 18px;
  fill: #b99403;
  fill-rule: evenodd;
}
