.brandbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 212px;
  background: center / cover no-repeat url(../images/brandbar/back-brandbar.png);
  box-shadow: 0 0 5px #000000;
}

.item-imgs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.item-sentences {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-imgs__icon--cloud-icon {
  width: 109px;
  height: 74px;
  fill-rule: evenodd;
  fill: #f5c506;
}

.item-imgs__icon--leaf-icon {
  width: 92px;
  height: 95px;
  fill-rule: evenodd;
  fill: #f5c506;
  padding: 0 0 0 70px;
}

.item-imgs__icon--paper-airplane-icon {
  width: 81px;
  height: 83px;
  fill-rule: evenodd;
  fill: #f5c506;
}

.item-sentences__title {
  font-size: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}
