.brandbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 212px;
  background: center / cover no-repeat url(../images/brandbar/back-brandbar.png);
  box-shadow: 0 0 9px 0 #000000;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__icon--cloud-icon {
  width: 109px;
  height: 74px;
  fill-rule: evenodd;
  fill: #f5c506;
}

.item__icon--leaf-icon {
  width: 92px;
  height: 95px;
  fill-rule: evenodd;
  fill: #f5c506;
}

.item__icon--paper-airplane-icon {
  width: 81px;
  height: 83px;
  fill-rule: evenodd;
  fill: #f5c506;
}

.item__title {
  font-size: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}
