.item__icon--cloud-icon {
  width: 109px;
  height: 74px;
  fill-rule: evenodd;
  fill: #f5c506;
}

.item__icon--leaf-icon {
  width: 92px;
  height: 95px;
  fill-rule: evenodd;
  fill: #f5c506;
}

.item__icon--paper-airplane-icon {
  width: 81px;
  height: 83px;
  fill-rule: evenodd;
  fill: #f5c506;
}
