.features {
  box-sizing: border-box;
  padding: 43px 10% 0;
  width: 100%;
  height: 506px;
  background: center / cover no-repeat
    url(../images/section-features/background.png);
}

.features__title {
  font-size: 37px;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  height: 233px;
}

.video-block {
  display: flex;
  background: #ec9e03;
  max-width: 658px;
}

.caption-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 12px 14px;
  width: 100%;
}

.desc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.desc-container__caption {
  padding: 13px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 29px;
  color: #ffffff;
  font-weight: lighter;
  line-height: 1.2;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.add-btn {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.add-btn__icon {
  width: 11px;
  height: 11px;
  fill-rule: evenodd;
  fill: #ffffff;
  opacity: 0.702;
}

.video-block__video {
  width: 100%;
  height: 100%;
}

.item-twitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 9px;
  background: #ec9e03;
  width: 330px;
}

.twits-amount-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.twits-amount-container__twits-amount {
  padding-right: 12px;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.twitter-icon-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.twitter-icon-container__twitter-icon {
  width: 163px;
  height: 133px;
  fill-rule: evenodd;
  fill: #bc7d00;
  opacity: 0.902;
}

.add-twit-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.add-twit-btn__icon {
  width: 11px;
  height: 11px;
  fill-rule: evenodd;
  fill: #ffffff;
  opacity: 0.702;
}
