body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1450px;
  width: 100%;
  overflow: hidden;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 566px;
  width: 100%;
  padding: 28px 10% 0;
  box-sizing: border-box;
  background: center / cover no-repeat url(../images/banner/background.png);
  overflow: hidden;
}

.page-header__header {
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__text-container {
  display: flex;
  align-items: baseline;
}

.header__logo-name {
  font-size: 41px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: #ffffff;
}

.header__logo-text {
  font-size: 13px;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.header__icon-container {
  position: relative;
}

.header__icon--front-icon {
  width: 83px;
  height: 83px;
  fill: #f5c506;
  fill-rule: evenodd;
}

.header__icon--back-icon {
  position: absolute;
  top: 1.6%;
  left: 2.4%;
  width: 78px;
  height: 78px;
  fill: #f5c506;
  opacity: 0.502;
  fill-rule: evenodd;
}

.header__nav {
  padding: 0 10px 0 15px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "Asap", sans-serif;
  background: #f5c506;
  box-shadow: -4px -4px #f5c50640, -8px -8px #f5c50620;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #9b7d08;
  height: 100%;
}

.nav__link-icon {
  padding: 0 5px;
}

.nav__link--bordered {
  border-right: 1px solid #9b7d08;
  border-left: 1px solid #9b7d08;
}

.nav__link--person-icon {
  width: 21px;
  height: 19px;
  fill: #b99403;
  fill-rule: evenodd;
}

.nav__link--services-icon {
  width: 19px;
  height: 19px;
  fill: #b99403;
  fill-rule: evenodd;
}

.nav__link--contact-icon {
  width: 24px;
  height: 18px;
  fill: #b99403;
  fill-rule: evenodd;
}

.slogan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.slogan-container__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan-container__text--yellow {
  font-size: 63px;
  font-family: "Asap", sans-serif;
  color: #f5c506;
  text-transform: uppercase;
}

.slogan-container__text--white {
  font-size: 63px;
  font-family: "Asap", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.slogan-container__video {
  display: none;
}
