body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1450px;
  width: 100%;
  overflow: hidden;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 566px;
  width: 100%;
  padding: 28px 0 0;
  box-sizing: border-box;
  background: center / cover no-repeat url(../images/banner/background.png);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__text-container {
  display: flex;
  align-items: baseline;
}

.header__logo-name {
  font-size: 41px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: #ffffff;
}

.header__logo-text {
  font-size: 13px;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.header__icon-container {
  position: relative;
}

.header__icon--front-icon {
  width: 83px;
  height: 83px;
  fill: #f5c506;
  fill-rule: evenodd;
}

.header__icon--back-icon {
  position: absolute;
  top: 1.6%;
  left: 2.4%;
  width: 78px;
  height: 78px;
  fill: #f5c506;
  opacity: 0.502;
  fill-rule: evenodd;
}

.header__nav {
  padding: 0 10px 0 15px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "Asap", sans-serif;
  background: #f5c506;
  box-shadow: -4px -4px #f5c50640, -8px -8px #f5c50620;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #9b7d08;
  height: 100%;
}

.nav__link-icon {
  padding: 0 5px;
}

.nav__link--bordered {
  border-right: 1px solid #9b7d08;
  border-left: 1px solid #9b7d08;
}

.nav__link--person-icon {
  width: 21px;
  height: 19px;
  fill: #b99403;
  fill-rule: evenodd;
}

.nav__link--services-icon {
  width: 19px;
  height: 19px;
  fill: #b99403;
  fill-rule: evenodd;
}

.nav__link--contact-icon {
  width: 24px;
  height: 18px;
  fill: #b99403;
  fill-rule: evenodd;
}

.slogan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 80%;
}

.slogan-container__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan-container__text--yellow {
  font-size: 63px;
  font-family: "Asap", sans-serif;
  color: #f5c506;
  text-transform: uppercase;
}

.slogan-container__text--white {
  font-size: 63px;
  font-family: "Asap", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.header-video-container__video {
  display: none;
}

.header-video-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-stop-btn {
  position: absolute;
  display: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.header-stop-btn__circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  background: #f5c506;
  opacity: 0.722;
  border-radius: 50%;
}

.header-stop-btn__play-btn {
  position: absolute;
  left: 38%;
  width: 19px;
  height: 34px;
  fill-rule: evenodd;
  fill: #f5f4f2;
}

.player {
  position: absolute;
  bottom: 5%;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.btn-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  outline: none;
  border: none;
  background: #f5c506;
  opacity: 0.369;
}

.btn-play__play-img {
  width: 10px;
  height: 17px;
  fill-rule: evenodd;
  fill: #ffffff;
  opacity: 0.8;
}

.player__video-track-container {
  display: flex;
  align-items: center;
  width: 400px;
}

.player__video-track--viewed {
  width: 90%;
  height: 12px;
  background: #f5c506;
  border-radius: 20px 0 0 20px;
}

.player__video-track--unviewed {
  width: 100%;
  height: 12px;
  background: #f5c506;
  border-radius: 0 20px 20px 0;
  opacity: 0.278;
}

.btn-volume {
  outline: none;
  border: none;
  background: transparent;
}

.btn-volume__volume-img {
  width: 15px;
  height: 15px;
  fill-rule: evenodd;
  fill: #f5c506;
}
