.main-benefits {
  padding: 48px 10% 0;
  width: 100%;
  height: 498px;
  box-sizing: border-box;
  background: center / cover no-repeat
    url(../images/main-benefits/background.png);
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 59px;
}

.title-container__title {
  font-family: "Asap", sans-serif;
  font-size: 43px;
  text-transform: uppercase;
  color: #f5c506;
}

.content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.benefits-imgs-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.desktop-icon-container {
  margin-left: 24px;
}

.sticker {
  position: absolute;
  top: -43px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  background: #f5c506;
  border-radius: 50%;
}

.sticker__caption {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.tablet-n-phone-icons-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.tablet-n-phone-icons-container__tablet {
  margin-left: 24px;
}

.tablet-n-phone-icons-container__phone {
  margin-left: 24px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 385px;
  height: 213px;
}

.benefit-item {
  display: flex;
}

.benefit-item__marker {
  height: 13px;
  min-width: 13px;
  background: #f5c506;
  border-radius: 50%;
  margin-top: 9px;
  margin-right: 30px;
}

.benefit-item__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 1.3;
  color: #a9a9a7;
}
