@media (max-width: 768px) {
  .page-header {
    justify-content: flex-start;
    padding: 0;
    background: transparent;
    height: 100%;
  }

  .header {
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 109px;
  }

  .header__logo-container {
    padding: 12px;
    background: linear-gradient(#5d5d5d, #454545);
  }

  .header__logo-name {
    font-size: 19px;
    padding-right: 18px;
    text-shadow: 0 2px 0 #2c2c2c;
  }

  .header__logo-text {
    display: none;
  }

  .nav {
    padding: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: url(../images/header/nav-back.png);
  }

  .nav__link {
    font-size: 19px;
    width: 100%;
  }

  .slogan-container {
    display: none;
  }

  .header-video-container__video {
    display: block;
    margin: 0;
    width: 100%;
  }

  .header-stop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player {
    display: flex;
  }

  .brandbar {
    box-shadow: 0 -5px #ffffff80, 0 -10px #ffffff60, inset 0 -5px #ffffff80;
  }
}
